language: php

php:
    - 7.2
    - 7.3

matrix:
    fast_finish: true

cache:
    directories:
        - $HOME/.composer/cache

before_install:
    - travis_retry composer self-update
    
install:
    - travis_retry composer install --no-interaction --prefer-dist
