parameters:
    level: max
    paths:
        - src
        - tests
        - examples
    tmpDir: .phpstan-cache
    treatPhpDocTypesAsCertain: true
    reportUnmatchedIgnoredErrors: true
    checkMissingCallableSignature: true
